<tr>
    <td>{firstName} {lastName}</td>
    <td>{emailAddress}</td>
    <td>{role}</td>
    <td><a href="http://boris.codefactory.live/memorize/upgrade-user?userId={userId}" class="text-decoration-none">
            <img class="small-icon" src="./img/memorizeupgrade.png" alt="">
        </a> 
        <a href="http://boris.codefactory.live/memorize/ban-user?userId={userId}" class="text-decoration-none">
            <img class="small-icon" src="./img/memorizeban.png" alt="">
        </a>
    </td>
</tr>