
<div class="form-container">
    <div class="form-wrapper">
        <form action="edit-memo?memo={memoId}" method="POST">
            <label for="title">Memo Title</label>
            <input class="mb-4 form-item" type="text" name="title" placeholder="Title your Memo..." value="{memoTitle}">
            <label for="body">Memo Content</label>
            <textarea class="mb-4 form-item" rows="5" cols="50" name="body" placeholder="Note to self:..." value="">{memoBody}</textarea>
            <label for="audience">Audience</label>
            <select class="mb-4 form-item" name="audience" >
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
            <input class="mb-4 form-item" type="submit" name="edit-memo">
        </form>
    </div>
</div>



