<div class="navbar">
    
    <div class="navbar-logo">
        <a href="http://boris.codefactory.live/memorize/home"><img id="logo" src="./img/memorizelogo.png" alt=""> </a>
    </div>
    <div class="navbar-items">
        <div class="item-wrapper p-2">
            <a href="http://boris.codefactory.live/memorize/create-memo">
                <img class="nav-icon" src="./img/memorizecreate.png" alt="">
                <h4 class="nav-text">Create</h4>
            </a>
        </div>
        <div class="item-wrapper p-2">
            <a href="http://boris.codefactory.live/memorize/profile">
                <img class="nav-icon" src="./img/memorizeuser.png" alt="">
                <h4 class="nav-text">Profile</h4>
            </a>
        </div>
        <div class="item-wrapper p-2">
            <a href="http://boris.codefactory.live/memorize/logout">
                <img class="nav-icon" src="./img/memorizelogout.png" alt="">
                <h4 class="nav-text">Logout</h4>
            </a>
        </div>
    </div>

   
</div>