body {
  background-color: #003282 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  overflow-x: hidden;
}

.navbar {
  background-color: #001528;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#logo {
  width: 146.5px;
  height: 146.5px;
}

.nav-icon {
  width: 73.25px;
  height: 73.25px;
}

.item-wrapper > a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #F29900 !important;
}

#logo {
  width: 146.5px;
  height: 146.5px;
}

.accent {
  color: #F29900;
}

.danger {
  color: #AD0029 !important;
}

.memo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
}

.memo-body {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  width: 283px;
  height: 283px;
  background-image: url("../img/memo2.png");
  background-position: center;
  background-size: cover;
}

.memo-title {
  padding: 0;
  margin-bottom: 0;
}

.memo-text {
  margin-top: 0;
  word-wrap: break-word;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

.form-wrapper {
  width: 600px;
  background-color: white;
  padding: 40px;
}

form > * {
  display: block;
  padding: 10px;
}

label {
  font-size: 20px;
}

.form-item {
  width: 100%;
  background-color: white;
  border: 2px #001528 solid;
}

.form-item:hover, .form-item:focus {
  background-color: #001528;
  color: white;
  border: 2px #001528 double;
}

.form-danger {
  border: 2px #AD0029 solid;
}

.form-danger:hover, .form-danger:focus {
  background-color: #AD0029;
}

.small-icon {
  width: 70px;
  height: 70px;
}

.crud-wrapper {
  padding: 5px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.crud-buttons > * {
  display: block;
  text-align: center;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.admin-dashboard {
  background-color: white;
}

.admin-dashboard > tbody > tr {
  border: 1px solid #001528;
}

.admin-dashboard > tbody > tr > td, .admin-dashboard > tbody > tr > th {
  padding: 10px;
  border: 1px solid #001528;
}

tr:nth-child(odd) {
  background-color: #6496c8;
}

.error-container {
  position: absolute;
  width: 400px;
  top: 40%;
  left: 40%;
  z-index: 3;
  background-color: white;
  padding: 30px;
  border: #001528 1px solid;
}

.info-text {
  font-size: 14px !important;
}
/*# sourceMappingURL=style.css.map */